name: pysdk

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run a one-line script
        run: echo Hello, world!

      - name: Run Python script from pysdk/
        run: python3 pysdk/test.py

      - name: Post build message
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
